<h3>Add Stock To An Existing Product</h3>
<form action='/item/add' method='post'>
  <label for='item_name'>Add stock to:</label>
  <input type='text'/>
  <datalist>
    <option value='product_name'>product name</option>
  </datalist>
</form>