<h3>All Products</h3>
<p>Sort by:</p>
<form action='/sortitems' method='post'>
  <select name='sort_order'>
    <option value='id'>ID</option>
    <option value='sku'>Sku</option>
    <option value='description'>Description</option>
    <option value='cost'>Cost</option>
    <option value='retail'>Retail</option>
    <option value='stock'>Stock</option>
    <option value='sold'>QTY Sold</option>
  </select>
  <button type='submit'>Sort</button>
</form>

<div>
  <table>
    <tr>
      <th>ID</th>
      <th>Sku</th>
      <th>Description</th>
      <th>Cost</th>
      <th>Retail</th>
      <th>Stock</th>
      <th>Sold</th>
    </tr>
    <%== items_in_rows(@stock) %>
  </table>
</div>

<div>
  <h3>Customers:</h3>

  <table>
    <tr>
      <th>id</th>
      <th>Name</th>
    </tr>
    <%== customers_in_rows(@customers) %>
  </table>
</div>