<h3>All Products</h3>

<table>
  <tr>
    <th>ID</th>
    <th>Sku</th>
    <th>Description</th>
    <th>Cost</th>
    <th>Retail</th>
    <th>Stock</th>
    <th>Sold</th>
  </tr>
  <%== products_in_rows(@stock) %>
</table>