<h3>New Product Information</h3>
<form action='/item/new' method='post'>
  <div>
    <label for='sku'>Sku
      <input type='text' name='sku'>
    </label>
  </div>
  <div>
    <label for='name'>Name
      <input type='text' name='name'>
    </label>
  </div>
  <div>
    <label for='cost'>Cost
      <input type='text' name='cost' placeholder='$0000.00'>
    </label>
  </div>
  <div>
    <label for='retail'>Retail
      <input type='text' name='retail' placeholder='$0000.00'>
    </label>
  </div>

  <button type='submit'>Create Product</button>

</form>