<form action='/customer/new' method='post'>
  <dl>
    <dt>Customer Name</dt>
      <input type='text' name='customer_id'>
  </dl>  
  <fieldset class='actions'>
    <input type='submit' value='Create Customer'>
    <a href='/'>Cancel</a>
  </fieldset>
</form>