<form action='/invoice/new' method='post'>
<dl>
  <dt>Customer Name</dt>
    <input type='text' name='customer_id'>
  <dt> </dt>
  <dt> </dt>
  <dt> </dt>
  <dt> </dt>
  
</dl>
  
  <fieldset class='actions'>
    <input type='submit' value='Create Invoice'>
    <a href='/'>Cancel</a>
  </fieldset>
</form>